// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";
@import "font-awesome";


body {
  background: #FAFAFA;
}

.panel {
  cursor: pointer;
}

ul {
  list-style: none;
}

.top-bar {
  background: #FFFFFF;
  height: 4rem;
  padding-top: .5em;

  .title-area .name a {
    color: #09477D;
    font-size: 1.2rem;
    font-family: 'Rochester', cursive;
    padding-left: 8.5em;

  }
}

nav {
  border-bottom: 1px solid #EDEEEE;


  .top-bar-section  {

    .right {
      // border-bottom: 1px solid #cccccc;
      height: 25px;
      margin-right: 9.5em;
    }
  

    li {
      margin-left: 15px;
     } 
  }

  .top-bar-section li a:not(.button) {
      background: #FFFFFF !important;
      color: #84878B; 
      font-size: 0.90rem 
  }

  .top-bar-section li a:not(.button):hover {
      background: #FFFFFF !important;
      color: #09477D;   
  }

  .top-bar-section ul li.active > a {
      background: #FFFFFF !important;   
  }

  .top-bar-section ul li.active > a:hover {
      background: #FFFFFF !important;   
  }
}

.add {
  width: 500px;
  margin: 20px auto;

  h5 {
    color: #666666;
  }

  input {
    border-radius: 4px;
  }

  button {
    border-radius: 4px;
    background-color: #AFAFAF;
  }
  
}

.profile {
  margin-bottom: 45px;
  margin: auto;
  padding: 50px 50px;
  width: 970px;
  height: 190px;
  margin-bottom: 30px;
}

.profile-image {
  margin-right: 0;
  width: 152px;
  height: 152px;
  margin-left: 40px;
  border-radius: 100px;
  float: left;
  background: url(https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/12105186_1017270565013559_139675607_n.jpg) ;
  background-size: 100%;
}

.profile-title {
  // color: #757575;

  h3 {
    width: 250px;
    margin: 0;
    font-size: 32px;
    color: #5D5D5D;

  }

  a {
    width: 200px;
    margin: 0;
  }
}

.profile-info {
  width: 585px;
  margin-right: 0;
  float: right;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif 100;
}

.profile-desc {
  padding-top: 20px;

  
  h3 {
    width: 800px;
    margin: 0;
    color: #4b4f54;
    font-size: 16px;

  }
}

.profile-follow {
  padding-top: 40px;

  
  h4 {
    color: #4b4f54;
    font-size: 16px;
    display: inline;
    padding-right: 20px;

  }
}

.sarah {
  clear: both;
}

.home {
  width: 970px;
  margin: auto;
  padding-top: 20px;
}

.photo {
  position: relative;
  margin: auto;
  margin: 0 15px 15px 15px;
  width: 30%;
  height: auto;
  display: inline-block;
  float: left;


  .hidden {
    position: absolute;
    left: 42%;
    top: 35%;
    font-size: 50px;
    display: none;
  }

  .shown {
    position: absolute;
    left: 42%;
    top: 35%;
    font-size: 50px;
    opacity : 1;
  }

  .fa-heart {
    color: #FFFFFF;
  }

  .likes {
    color: #C8C8C8;
    margin-bottom: 0;

    i {
      color: #C8C8C8;
    }
  }

}

