

  <div class="profile">
    <div class="profile-image"> 
      </div>  
      <div class="profile-info">
        <div class="profile-title">
          <h3>sarah besozzi</h3>
            <a></a>            
        </div>
        <div class="profile-desc">
          <h3>puppy momma . tomboy . vintage hunter . daydreamsonvinyl.tumblr.com</h3>
        </div>
        <div class="profile-follow">
            <h4>339 posts</h4>
            <h4>300 followers</h4>
            <h4>134 following</h4>
        </div>
    
    </div>
  </div>
<div class="home">

  <sarah-photo ng-repeat="photo in vm.photos" photo="photo"></sarah-photo>
</div>